menu "ESP Crash"
    config ESP_CRASH_DEFAULT_URL
        string "Default URL for coredump upload"
        default "https://esp-crash.wennlund.nu/dump"

    config ESP_CRASH_DEFAULT_FILENAME
        string "Default filename for coredump upload"
        default "core.dmp"
endmenu
