{% extends "layout.html" %}
{% block title %}Access Control for <b>{{project_name}}</b>{% endblock %}
{% block content %}
<div class="flex">
    <h1 class="mb-3 text-3xl leading-none text-slate-900 w-4/6">
        Access Control for <b>{{project_name}}</b>
    </h1>

    {% if project_name %}
    <a href="{{ url_for('list_project_crashes', project_name=project_name) }}" class="flex items-center p-4">
        <svg class="w-6 h-6 stroke-current" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M16 8v8m-4-5v5m-4-2v2m-2 4h12a2 2 0 002-2V6a2 2 0 00-2-2H6a2 2 0 00-2 2v12a2 2 0 002 2z" />
        </svg>
        <span>Crashes</span>
    </a>
    {% endif %}

</div>
<div class="w-5/6 relative overflow-x-auto shadow-md sm:rounded-lg">
    <table class="w-full text-sm text-left text-gray-500">
        <thead class="text-xs text-gray-700 uppercase bg-gray-50">
            <tr>
                <th scope="col" class="px-6 py-3">Project Name</th>
                <th scope="col" class="px-6 py-3">Github ID</th>
                <th scope="col" class="px-6 py-3">Grant date</th>
                <th scope="col" class="px-6 py-3"></th>
            </tr>
        </thead>
        <tbody>
            {% for acl in acls %}
            <tr class="bg-white border-b hover:bg-gray-50">
                <td class="px-6 py-4">{{ acl.project_name }}</td>
                <td class="px-6 py-4">{{ acl.github}}</td>
                <td class="px-6 py-4">{{ acl.date }}</td>
                <td class="px-6 py-4"><a href="{{ url_for('delete_acl', project_name=project_name, github=acl.github) }}" class="font-medium text-blue-600 dark:text-blue-500 hover:underline">Delete</a></td>
            </tr>

            {% endfor %}
        </tbody>
    </table>
</div>
<div class="max-w-md p-8 bg-white border border-gray-200 rounded-lg shadow mt-4">
    <h2 class="text-2xl">Add new user:</h2>
    <form action="{{ url_for('create_acl', project_name=project_name) }}" method="post" class="space-y-4">
        <label for="github" class="text-lg">Github Name:</label>
        <input type="text" id="github" name="github" class="p-2 m-4 border-2 border-gray-300 rounded-md">
        <input type="submit" value="Submit" class="p-2 bg-blue-500 text-white rounded-md">
    </form>
</div>
{% endblock %}