{% extends "layout.html" %}
{% block title %}Here is your crash{% endblock %}
{% block content %}

<div class="flex">
    <h1 class="mb-3 text-3xl leading-none text-slate-900 w-4/6">
        Here is your crash
    </h1>

    {% if crash.project_name %}
    <a href="/projects/{{ crash.project_name }}" class="flex items-center p-4">
        <svg class="w-6 h-6 stroke-current" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
            stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                d="M16 8v8m-4-5v5m-4-2v2m-2 4h12a2 2 0 002-2V6a2 2 0 00-2-2H6a2 2 0 00-2 2v12a2 2 0 002 2z" />
        </svg>
        <span>Crashes</span>
    </a>
    {% endif %}

</div>
<div class="w-5/6 p-8 bg-white border border-gray-200 rounded-lg shadow mt-4">
    <div class="flex">
    <span class="w-1/6 text-center">crash size<br /><b>{{ crash.crash_dmp|length }} bytes</b></span>
    <span class="w-1/6 text-center">date<br /><b>{{crash.date.strftime('%Y-%m-%d')}}<br />{{crash.date.strftime('%H:%M:%S')}}</b></span>
    <span class="w-1/6 text-center">project_name<br /><b>{{ crash.project_name }}</b></span>
    <span class="w-1/6 text-center">device_id<br /><b>{{ crash.ext_device_id }}</b></span>
    <span class="w-1/6 text-center">project_ver<br /><b>{{ crash.project_ver}}</b></span>
    {% for elf_image in elf_images %}
    <span class="w-1/6 text-center">elf_image date<br /><b>{{elf_image.date.strftime('%Y-%m-%d')}}<br />{{elf_image.date.strftime('%H:%M:%S')}}</b></span>
    <span class="w-1/6 text-center">elf size<br /><b>{{ (elf_image.elf_file|length / 1024)|round|int }} kb</b></span>
    {% endfor %}
    </div>
</div>

<div
    class="w-5/6 h-5/6 p-8 m-0 border border-gray-200 rounded-lg shadow mt-4 whitespace-pre bg-black text-sm text-white overflow-scroll font-mono">

    {{ dump }}

</div>
{% endblock %}