{% extends "layout.html" %}
{% block title %}{% if project_name %}{{project_name}} crashes{% else %}List latest crashes{% endif %}{%
endblock %}
{% block content %}
<div class="flex">
    <h1 class="mb-3 text-3xl leading-none text-slate-900 w-3/6">
        {% if project_name %}List of crashes for <b>{{project_name}}</b>{% else %}List latest crashes{% endif %}

    </h1>
    <form actions="/search" method="GET" class="flex items-center">
        <input type="text" name="search" value="{{search}}" placeholder="Search for crashes"
            class="p-2 border-2 border-gray-300 rounded-md">
        <button type="submit" class="p-2 bg-blue-500 text-white rounded-md">Search</button>
    </form>

    {% if project_name %}
    <a href="/projects/{{ project_name }}/builds" class="flex items-center p-4">
        <svg class="w-6 h-6 stroke-current" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
            stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                d="M8 7v8a2 2 0 002 2h6M8 7V5a2 2 0 012-2h4.586a1 1 0 01.707.293l4.414 4.414a1 1 0 01.293.707V15a2 2 0 01-2 2h-2M8 7H6a2 2 0 00-2 2v10a2 2 0 002 2h8a2 2 0 002-2v-2" />
        </svg>
        <span>Builds</span>
    </a>


    <a href="/projects/{{ project_name }}/acl" class="flex items-center p-4">
        <svg class="w-6 h-6 stroke-current" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
            stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                d="M12 6V4m0 2a2 2 0 100 4m0-4a2 2 0 110 4m-6 8a2 2 0 100-4m0 4a2 2 0 110-4m0 4v2m0-6V4m6 6v10m6-2a2 2 0 100-4m0 4a2 2 0 110-4m0 4v2m0-6V4" />
        </svg> <span>Access Control</span>
    </a>
    {% endif %}

</div>

<div class="w-5/6 relative overflow-x-auto shadow-md sm:rounded-lg">
    <table class="w-full text-sm text-left text-gray-500">
        <thead class="text-xs text-gray-700 uppercase bg-gray-50">
            <tr>
                <th scope="col" class="px-6 py-3">Timestamp</th>
                {% if not project_name %}
                <th scope="col" class="px-6 py-3">Project Name</th>
                {% endif %}
                <th scope="col" class="px-6 py-3">Project Version</th>
                <th scope="col" class="px-6 py-3">Device Id</th>
                <th scope="col" class="px-6 py-3"></th>
            </tr>
        </thead>
        <tbody>
            {% for crash in crashes %}
            <tr class="bg-white border-b hover:bg-gray-50">
                <td class="px-6 py-4">
                    <a href="{{ url_for('show_project_crash', project_name=crash.project_name, crash_id=crash.crash_id) }}">{{ crash.date | format_datetime }}</a>
                </td>
                {% if not project_name %}
                <td class="px-6 py-4">
                    <a href="{{ url_for('project_detail', project_name=crash.project_name) }}">{{ crash.project_name }}</a>
                </td>
                {% endif %}
                <td class="px-6 py-4">
                    <a href="{{ url_for('listProjectCrashes', project_name=crash.project_name, search=crash.project_ver) }}">
                        {% for project_alias in crash.project_alias %}
                            {% if project_alias %}<b>{{ project_alias }}</b> {% endif %}
                        {% endfor %}
                        {{ crash.project_ver }}
                    </a>
                </td>
                {% if crash.alias %}
                <td class="px-6 py-4">
                    <a href="{{ url_for('listProjectCrashes', project_name=crash.project_name, search=crash.ext_device_id) }}">{{ crash.alias }} ({{ crash.ext_device_id }})</a>
                </td>
                {% else %}
                <td class="px-6 py-4">
                    <a href="{{ url_for('listProjectCrashes', project_name=crash.project_name, search=crash.ext_device_id) }}">{{ crash.ext_device_id }}</a>
                </td>
                {% endif %}
                <td class="px-6 py-4">
                    <a href="{{ url_for('delete_crash', project_name=crash.project_name, crash_id=crash.crash_id) }}" class="font-medium text-blue-600 dark:text-blue-500 hover:underline">Delete</a>
                    <a href="{{ url_for('showDevice', device_id=crash.device_id) }}" class="font-medium text-blue-600 dark:text-blue-500 hover:underline">Device</a>
                    {% if crash.elf_file_id %}
                    {% for elf_file_id in crash.elf_file_id %}
                    <a href="{{ url_for('showBuild', build_id=elf_file_id) }}" class="font-medium text-blue-600 dark:text-blue-500 hover:underline">Build</a>
                    {% endfor %}
                    {% endif %}
                </td>
            </tr>

            {% endfor %}
        </tbody>
    </table>

    <div class="w-full text-sm text-left text-gray-500 text-center" style="margin: 50px 0px;">
        <h2>
            {% if offset > 0 %}
            <a href="{{ url_for(request.endpoint, project_name=project_name, search=search, limit=limit, offset=offset - limit) }}" class="p-2 bg-blue-500 text-white rounded-md">
                Previous
            </a>
            {% endif %}
            &nbsp; Page {{ (offset // limit) + 1 }} of {{ (full_count // limit) + (1 if full_count % limit > 0 else 0) }} &nbsp;
            {% if offset + limit < full_count %}
            <a href="{{ url_for(request.endpoint, project_name=project_name, search=search, limit=limit, offset=offset + limit) }}" class="p-2 bg-blue-500 text-white rounded-md">
                Next
            </a>
            {% endif %}
            </h2>
    </div>

</div>
{% endblock %}